form {
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

input {
    height: 38px;
    width: 300px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.421);
}
.success{
    color: green;
}